pre {
    color: rgb(94, 200, 94);
}

body {
    background-color:#171717;
    font-family: monospace;
}

form {

    justify-content: right;
    align-items: right; 
    color: rgb(94, 200, 94); 
    padding: 20px;

}

.toptext {

    color: rgb(94, 200, 94);
    text-align: justify;

}

p {
    color: rgb(94, 200, 94);
}

h5{
    color: rgb(94, 200, 94);
    text-align: justify;
}

input{
    background-color:#2f2d2d;
    color: rgb(94, 200, 94);
    border: #312f2f;
    font-family: monospace;
}

button {
    background-color:#171717;
    color: rgb(94, 200, 94);

}

button {

    background-color:#2f2d2d;
    color: rgb(94, 200, 94);
    border: #312f2f;
    font-family: monospace; 
}